<!DOCTYPE html>
<html>
<head>

<title>
DSA 
</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='style.css') }}">

</head>

<body>

<div class="home-page">

    <h1 class="logo-title">
        DSA AI Learning Platform
    </h1>

    <p class="tagline">
        Learn DSA through AI,
        visualization and interview practice
    </p>

    <div class="home-buttons">

        <a href="/practice">

            <div class="mode-card">

                <h2>
                    AI CHATBOT
                </h2>

                <p>
                    Learn,Practice,and master DSA
                    with AI assitance
                </p>

            </div>

        </a>

        <a href="/interview">

            <div class="mode-card">

                <h2>
                    Interview Mode
                </h2>

                <p>
                    Prepare for interviews with real company questions.

                    
                </p>

            </div>

        </a>

    </div>

</div>

</body>
</html>